/* stylesheet.css */

* {
    box-sizing: border_box;
}

h1 {
    background-color: orange;
    color: darkgreen;
    font-size: 300px;
    margin: 0px;
    text-align: center;
}

.tableHeader {
    padding: 7px 15px 7px 15px;
    font-weight: bold;
}

.tableCell {
    padding: 15px;
}

nav {
    padding: 15px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#li1 {
    background: white;
    font-size: 80px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

#li2 {
    background: white;
    font-size: 80px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

#location {
    width: 270px;
    height: auto;
    background-color: pink;
    border: 10px solid lightgreen;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#flag {
    width: 40px;
    height: auto;
}

#logo {
    width: 100px;
    height: auto;
}
